.top{background:#3AA8D5;height: 2.4rem;padding: 0 0.5rem;overflow: hidden;position: fixed;top: 0;left: 0;right: 0;z-index: 99}
.rbgaBg{background:#3AA8D5;}
.hLine{height: 2.4rem}
.top .logo{line-height: 2.4rem;}
.top .logo img{height: 1.65rem}
.topRight a{font-size: .5rem;color: #fff;display: inline-block;line-height: 2.4rem;}
.topRight a i{display: inline-block;background-size: cover;width:1rem;height:1rem;vertical-align: middle;background-repeat: no-repeat}
.topRight a:first-child{margin-right: .5rem}
.topRight a:first-child i{margin-right: .5rem}
.topRight a.phone i{background-image: url("../image/phone.png")}
.topRight a.qq i{background-image: url("../image/qq.png")}
.topRight a:hover{
    color: #fff
}
.nav{background: #fff}
.nav ul li{display: inline-block;margin: 0 .4rem}
.nav ul li a{font-size: .65rem;display: inline-block;padding: .6rem 0}
.nav ul li.on a{color: #49b44f}
.title{background: #efefef;padding: .4rem .5rem;line-height: 1rem;}
.title h2{font-size: .7rem;font-weight: normal}
.title .more{font-size: .6rem;position: relative}
.title .more i{display: inline-block;margin-left: .4rem;width: 0.6rem;height: .35rem;background: url("../image/arrowicons.png") no-repeat 0 0;background-size: cover;vertical-align: middle;}
.title .more.on i{background-position: 0 -.35rem}
.tagList{width: 5rem;text-align: center;position: absolute;background: #fff;color: #9d9d9d;display: none;right: -.25rem;z-index: 11;}
.tagList ul li{border-bottom: 1px solid #eee}
.tagList ul li a{padding: 0.3rem 0;color: #9d9d9d;display: block;font-size: .6rem;}
.tagList ul li:hover a,.tagList ul li.on a{color: #49b44f}

.scroll-foot .swiper-slide ul{display: block;overflow: hidden;margin-right: -.5rem}
.scroll-foot .swiper-slide ul li{float: left;margin: .5rem .35rem 0 0.35rem;width: 4.65rem;text-align: center}
.scroll-foot .swiper-slide ul li img{max-width:100%}
.scroll-foot .swiper-slide ul li h3{font-weight: normal;font-size: .6rem;height: .8rem;overflow: hidden;}

.footer{/*background: #444;*/padding: 1.8rem 0;}
.footer .link{text-align: center;margin-bottom:.25rem}
.footer .link ul li{display: inline-block;margin: 0 .25rem}
.footer .link ul li a{font-size: 0.8rem;}
.footer .desc{text-align: center}
.footer .desc p{font-size: 0.6rem;color: #7f7f7f;line-height: 1rem;}
.footer .desc p:first-child{font-size: 0.7rem;line-height: 1.4rem;}

.tabThis .hd ul{background: #efefef;-webkit-box-orient: horizontal;-moz-box-orient: horizontal;box-orient: horizontal;display: -webkit-box;display: -moz-box;display: box;}
.tabThis .hd ul li{-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;text-align: center;border-bottom: 2px solid #efefef}
.tabThis .hd ul li.on{border-bottom-color: #49b44f}
.tabThis .hd ul li a{color: #3d3d3d;padding: 0.4rem 0;display: inline-block;font-size: 0.7rem;}
.gist h3{font-weight: normal;font-size: .7rem;text-overflow: ellipsis;overflow: hidden;width: 9.9rem;white-space: nowrap;margin-bottom: .1rem;margin-top: 2px;}
.gist p{font-size: .6rem}
.gist .time{font-size: .4rem;/*margin-top: .25rem*/}
.loadMore{text-align: center;margin: 1rem 0}
.loadMore a{font-size: .5rem}

.swiper-slide-active img{-webkit-animation: pulse 3s ease .1s both;-moz-animation: pulse 3s ease .1s both;}
.swiper-pagination-bullet-active{background: #49b44f;}

.singleBanner img{width: 100%}
.articleTab article{padding:1rem .5rem 2rem .5rem;font-size:.6rem}
.articleTab article img{max-height: 7.5rem}
.articleTab article p{}
.fun{position: relative}
.fixedBar {position: fixed;
    right: 10px;
    top: 56%;
}
.fixedBar ul li{display: block;;width: 60px;height: 60px;margin-bottom: 0.25rem}
.fixedBar ul li a{display: block;background: url("../image/fixedBar.png") no-repeat;background-size: cover;height: 100%;width: 100%}

.fixedBar ul li:nth-child(1) a{background-position: 0 -66px}
.fixedBar ul li:last-child a{background-position: 0 -133px}

@-webkit-keyframes fadeInUp{
    0%{opacity:0;
        -webkit-transform:translateY(20px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUp{
    0%{opacity:0;
        -moz-transform:translateY(20px)}
    100%{opacity:1;
        -moz-transform:translateY(0)}
}
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}
@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes pulse{0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.1);}
    100%{-webkit-transform: scale(1);}}
@-moz-keyframes pulse{0%{-moz-transform: scale(1);}
    50%{-moz-transform: scale(1.1);}
    100%{-moz-transform: scale(1);}}
@-o-keyframes pulse{0%{-o-transform: scale(1);}
    50%{-o-transform: scale(1.1);}
    100%{-o-transform: scale(1);}}
@keyframes pulse{0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}}
@-webkit-keyframes bounceInLeft{0%{opacity: 0;-webkit-transform: translateX(-2000px);}
    60%{opacity: 1;-webkit-transform: translateX(30px);}
    80%{-webkit-transform: translateX(-10px);}
    100%{-webkit-transform: translateX(0);}}
@-moz-keyframes bounceInLeft{0%{opacity: 0;-moz-transform: translateX(-2000px);}
    60%{opacity: 1;-moz-transform: translateX(30px);}
    80%{-moz-transform: translateX(-10px);}
    100%{-moz-transform: translateX(0);}}
@-o-keyframes bounceInLeft{0%{opacity: 0;-o-transform: translateX(-2000px);}
    60%{opacity: 1;-o-transform: translateX(30px);}
    80%{-o-transform: translateX(-10px);}
    100%{-o-transform: translateX(0);}}
@keyframes bounceInLeft{0%{opacity: 0;transform: translateX(-2000px);}
    60%{opacity: 1;transform: translateX(30px);}
    80%{transform: translateX(-10px);}
    100%{transform: translateX(0);}}
@-webkit-keyframes bounceInRight{0%{opacity: 0;-webkit-transform: translateX(2000px);}
    60%{opacity: 1;-webkit-transform: translateX(-30px);}
    80%{-webkit-transform: translateX(10px);}
    100%{-webkit-transform: translateX(0);}}
@-moz-keyframes bounceInRight{0%{opacity: 0;-moz-transform: translateX(2000px);}
    60%{opacity: 1;-moz-transform: translateX(-30px);}
    80%{-moz-transform: translateX(10px);}
    100%{-moz-transform: translateX(0);}}
@-o-keyframes bounceInRight{0%{opacity: 0;-o-transform: translateX(2000px);}
    60%{opacity: 1;-o-transform: translateX(-30px);}
    80%{-o-transform: translateX(10px);}
    100%{-o-transform: translateX(0);}}
@keyframes bounceInRight{0%{opacity: 0;transform: translateX(2000px);}
    60%{opacity: 1;transform: translateX(-30px);}
    80%{transform: translateX(10px);}
    100%{transform: translateX(0);}}
#banner  .swiper-slide-active img{-webkit-animation: pulse 3s ease .1s both;-moz-animation: pulse 3s ease .1s both;}
.swiper-slide-active img{-webkit-animation: pulse 0s ease  0s both;-moz-animation: pulse 0s ease   0s both;}
