.flashBox ul li.travelBanner .bannerPart dd {
    position:absolute;
    display: block;
}
.flashBox ul li.travelBanner .bannerPart dd.l0 {
    top:185px;
    left:150px;
    width:22px;
    height:22px;
    background:url('../images/l0.png') top center no-repeat;
    -webkit-animation: pulse 1s ease 0s infinite both;
    animation: pulse 1s ease 0s infinite both;
}
.flashBox ul li.travelBanner .bannerPart dd.l1 {
    top:53px;
    left:665px;
    width:24px;
    height:24px;
    background:url('../images/l1.png') top center no-repeat;
    -webkit-animation: pulse 1s ease 0s infinite both;
    animation: pulse 1s ease 0s infinite both;
}
.flashBox ul li.travelBanner .bannerPart dd.l2 {
    top: 125px;
    left:920px;
    width:37px;
    height:37px;
    background:url('../images/l2.png') top center no-repeat;
    -webkit-animation: pulse 1s ease 0s infinite both;
    animation: pulse 1s ease 0s infinite both;
}
.flashBox ul li.travelBanner .bannerPart dd.l3 {
    top: 75px;
    left:290px;
    width:540px;
    height:60px;
    background:url('../images/l3.png') top center no-repeat;
    -webkit-animation: bounceInLeft 1s ease 0s 1 both;
    animation: bounceInLeft 1s ease 0s 1 both;
}
.flashBox ul li.travelBanner .bannerPart dd.l4 {
    top: 143px;
    left:205px;
    width:714px;
    height:60px;
    background:url('../images/l4.png') top center no-repeat;
    -webkit-animation: bounceInLeft 1s ease 0.5s 1 both;
    animation: bounceInLeft 1s ease 0.5s 1 both;
}
.flashBox ul li.travelBanner .bannerPart dd.l5 {
    top: 230px;
    left:460px;
    width:205px;
    height:22px;
    background:url('../images/l5.png') top center no-repeat;
    -webkit-animation: fadeInUp 1s ease .5s 1 both;
    animation: fadeInUp 1s ease .5s 1 both;
}
.flashBox ul li.travelBanner .bannerPart dd.l6 {
    top: 263px;
    left:395px;
    width:331px;
    height:22px;
    background:url('../images/l6.png') top center no-repeat;
    -webkit-animation: fadeInUp 1s ease 1s 1 both;
    animation: fadeInUp 1s ease 1s 1 both;
}
.flashBox ul li.travelBanner .bannerPart dd.l7 {
    top: 0;
    left:222px;
    width:562px;
    height:324px;
    background:url('../images/l7.png') top center no-repeat;
    -webkit-animation: fadeInLeft 1s ease .3s 1 both;
    animation: fadeInLeft 1s ease .3s 1 both;
}
.flashBox ul li.travelBanner .bannerPart dd.l8 {
    top: 0;
    left:525px;
    width:605px;
    height:324px;
    background:url('../images/l8.png') top center no-repeat;
    -webkit-animation: fadeInRight 1s ease .3s 1 both;
    animation: fadeInRight 1s ease .3s 1 both;
}
.flashBox ul li.travelBanner .bannerPart dd.l9 {
    top: 80px;
    left:31px;
    width:180px;
    height:14px;
    background:url('../images/l9.png') top center no-repeat;
    -webkit-animation: bounceInRight 3s ease 0s 1 both;
    animation: bounceInRight 3s ease 0s 1 both;
}
.flashBox ul li.travelBanner .bannerPart dd.l10 {
    top: 232px;
    left:230px;
    width:135px;
    height:9px;
    background:url('../images/l10.png') top center no-repeat;
    -webkit-animation: bounceInRight 3s ease .3s 1 both;
    animation: bounceInRight 3s ease .3s 1 both;
}
.flashBox ul li.travelBanner .bannerPart dd.l11 {
    top: 235px;
    left:805px;
    width:200px;
    height:14px;
    background:url('../images/l11.png') top center no-repeat;
    -webkit-animation: bounceInRight 3s ease .6s 1 both;
    animation: bounceInRight 3s ease .6s 1 both;
}